@import "tailwindcss";
body {
  background-color: #f5f7fb;
}

@theme {
  --color-backround: #f5f7fb;
  --color-primary: #218dfa;
  --color-text: var(--color-slate-950);
  --color-heading: var(--color-gray-700);
}
